# =========================
# Python 缓存
# =========================
__pycache__/
*.pyc

# =========================
# 虚拟环境
# =========================
venv/
.env/
.env
# =========================
# 本地IDE配置
# =========================
.idea/
.vscode/

# =========================
# 数据库（非常重要）
# =========================
database/
*.db
.streamlit/secrets.toml

# =========================
# 本地文件
# =========================
local_only/
old_files/
backup_*/

# =========================
# 系统文件
# =========================
.DS_Store
Thumbs.db